body {
  background-color: #9dc88d;
  font-family: 'Zilla Slab', serif;
}

h1 {
  display: flex;
  justify-content: center;
  margin-top: 2%;
}

.animal {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.button {
  display: flex;
  justify-content: center;
  margin-top: 3%;
}

.color {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.instruction {
  display: flex;
  justify-content: center;
  margin-top: 1%;
}

img {
  width: 250px;
  height: 250px;
  border-radius: 50%;
}

.text {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 10px;
}

table,
tr,
td {
  border: 2px solid #4d774e;
  border-collapse: collapse;
}

td {
  padding: 5px;
}

.emotion_table {
  display: flex;
  justify-content: center;
}

.submit{
  display: flex;
  justify-content: center;
}