body {
  background: linear-gradient(60deg, #164a41 0%, #4d774e 50%, #9dc88d 100%);
  font-family: "Zilla Slab", serif;
}

h1 {
  display: flex;
  justify-content: center;
  margin-top: 2%;
}

.animal {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.button {
  display: flex;
  justify-content: center;
  margin-top: 0.5%;
}

.color {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.instruction {
  display: flex;
  justify-content: center;
  margin-top: 1%;
  font-size: 30px;
}

img {
  width: 300px;
  height: 300px;
  border-radius: 50%;
}

.text {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 10px;
}

table,
tr,
td {
  border: 2px solid white;
  border-collapse: collapse;
}

td {
  padding: 15px;
}

.emotion_table {
  display: flex;
  justify-content: center;
}

.submit {
  display: flex;
  justify-content: center;
}
