h1 {
  text-align: center;
  padding-top: 4%;
  font-family: "Montserrat";
  font-weight: bold;
}
.animal {
  display: flex;
  justify-content: center;
  padding: auto;
  margin-top: 2%;
}
.button {
  display: flex;
  justify-content: center;
  margin-top: 1%;
}

img {
  width: 500px;
  height: 500px;
  border-radius: 50%;
}
